/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
ul{
    list-style-type: none;
}

hr{
    border-color: white;
}

/* Header */
/* Head-top */
.container-header-top{
    /* TEST */
    background-color: #add8e6;
}

.container-flex-top{
    width: 70%;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo, nav, .login{
    /* TEST */
    padding: 5px;
    border: 2px dotted black;
    background-color: #f0b319;
}

.logo{
    width: 20%;
}
nav{
    width: 60%;
}
.login{
    width: 20%;
    text-align: right;
}

nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    padding: 0 5px;
}

/* Head-Bottom */
.container-header-bot{
    background-color: #00008b;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron{
    width: 50%;
    height: 220px;

    /* TEST */
    background-color: #ee82ee;
    border: 2px dotted black;
}

/* MAIN */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-content{
    width: 70%;
    height: 100%;
    /* margin: auto; */
    display: flex;
    align-items: center;
}

/* CONTAINER WHITE */
.white{
    height: 330px;
    background-color: white;
}

/* CONTAINER GREY */
.grey{
    height: 330px;
    background-color: lightgrey;
}

/* CONTAINERI GREY BIG */
.grey.big{
    height: 600px;
    background-color: lightgrey;
}


.image{
    width: 60%;
    height: 280px;  

    /* TEST */
    background-color: #1e90ff;
    border: 2px dotted black;
}  

aside{
    width: 40%;
    height: 280px;

    /* TEST */
    background-color: #ffc0cb;
    border: 2px dotted black;
}



.big-image{
    width: 100%;
    height: 550px;

    /* testo */
    background-color: #228b22;
    border: 2px dotted black;
}

/* FOOTER */
/* SECTION 1 */
.black, .black-bottom{
    height: 350px;
    background-color: #23272a;
}

.info-left, .info-right{
    height: 330px;
    margin-bottom: 13px;
}

.info-left{
    width: 35%;

    /* TEST */
    background-color: #f08080;
    border: 2px dotted black;
}

.info-right{
    width: 65%;

    /* TEST */
    background-color: #20b2aa;
    border: 2px dotted black;
}

.container-info{
    height: 100%;
    display: flex;
    justify-content: space-between;
    
    /* TEST */

}

.text{
    width: calc(100% / 4);
    /* TEXT */
    border: 2px dotted white;
}

/* SECTION 2 */
.black-bottom{
    height: 60px;
    padding-top: 15px;
}

.black-bottom > .container-content{
    justify-content: space-between;
    height: 45px;
    
    /* TEST */
    background-color: #7fffd4 ;
}



.logo-footer, .bottone{

    /* TEST */
    padding: 1px 5px;
    border: 2px dotted black;
    background-color: #ffb6c1;
    font-size: 13px;
}
