/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
ul{
    list-style-type: none;
}

/* Header */
/* Head-top */
.container-header-top{
    /* TEST */
    background-color: #add8e6;
}

.container-flex-top{
    width: 70%;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo, nav, .login{
    /* TEST */
    padding: 5px;
    border: 1px dotted black;
    background-color: #f0b319;
}

.logo{
    width: 20%;
}
nav{
    width: 60%;
}
.login{
    width: 20%;
    text-align: right;
}

nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    padding: 0 5px;
}

/* Head-Bottom */
.container-header-bot{
    background-color: #00008b;
    height: 270px;
    display: flex;
    align-items: center;
}

.jumbotron{
    width: 50%;
    margin: auto;
    height: 220px;

    /* TEST */
    background-color: #ee82ee;
    border: 1px dotted black;
}

/* MAIN */

/* CONTAINER WHITE */
.container-white{
    height: 330px;

    /* TEST */
    background-color: white;
}

/* CONTAINER GREY */
.container-grey{
    height: 330px;
    background-color: lightgrey;
}

/* CONTAINERI GREY BIG */
.container-grey-big{
    height: 600px;
    background-color: lightgrey;
}

.container-content{
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}


.image{
    width: 60%;
    height: 280px;  

    /* TEST */
    background-color: #1e90ff;
}  

aside{
    width: 40%;
    height: 280px;

    /* TEST */
    background-color: #ffc0cb;
}



.big-image{
    width: 100%;
    height: 550px;

    /* testo */
    background-color: #228b22;
}

/* FOOTER */
.container-black{
    height: 400px;
    background-color: #23272a;
}


.info-left{
    width: 30%;
    height: 370px;
    margin-bottom: 13px;

    /* TEST */
    background-color: #f08080;
}